
@{
    ViewData["Title"] = "Index";
}

 <!-- MAIN CONTENT START -->
        <main>
             <!-- Page Content  -->
         <div class="content-wrapper">
            <div class="main-content">
               <nav class="navbar-custom-menu navbar navbar-expand-lg m-0">
                  <div class="sidebar-toggle-icon" id="sidebarCollapse">
                     sidebar toggle<span></span>
                  </div>
                  <!--/.sidebar toggle icon-->
                  <div class="d-flex flex-grow-1">
                     <ul class="navbar-nav flex-row align-items-center ml-auto">
                       
                        
                        <!--/.dropdown-->
                     </ul>
                     <!--/.navbar nav-->
                     <div class="nav-clock">
                        <div class="time">
                           <span class="time-hours"></span>
                           <span class="time-min"></span>
                           <span class="time-sec"></span>
                        </div>
                     </div>
                     <!-- nav-clock -->
                  </div>
               </nav>
             
            </div>
            <div class="overlay"></div>
         </div>
         <!--/.wrapper-->
        </main>

